html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ccc;
}

.container{
    width:100%;
    height:100vh; /* pleine hauteur */
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

#flipbook{ position: relative; }

#flipbook .page{
    position:relative;
    background:white;
    overflow:hidden;
}

#flipbook .page-overlay{
    position:absolute;
    top:0;
    height:100%;
    width:50%;
    cursor:pointer;
    z-index:10;
    transition: background 0.3s;
}

.page-overlay.left{ left:0; background: rgba(0,0,255,0.05);}
.page-overlay.right{ right:0; background: rgba(255,0,0,0.05);}
.page-overlay:hover{ background: rgba(0,0,0,0.1);}
